*,
*::before,
*::after{
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.40em 0.40em 0.75em rgba(0,0,0,.25),
    0.125em 0.125em 0.25em rgba(0,0,0,.15)
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
    .section__subtitel--intro{
        left: -8em;
    }
}

/* algemene stijl*/

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {

    max-width: 100%;
}
strong {
    font-weight: bold;
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/*buttons*/
.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn__position {
    text-align: center;
}

.btn:hover{
    transform: scale(1.1);
}

/*typografie*/

h1,
h2,
h3{
    line-height: 1;
    margin: 0;
}
h1{font-size: var(--fs-h1)}
h2{font-size: var(--fs-h2)}
h3{font-size: var(--fs-h3)}

.section__titel{
    margin-bottom: 0.25em;
}

.section__titel--intro{
    font-family: var(--fw-reg);
}
.section__titel--intro strong{
    display: block;
}

.section_subtitel{
    font-size: var(--fs-h3);
}

.section__subtitel--intro,
.section__subtitel--Over-mij{
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    padding-right: 0.25em;
    margin-bottom: 1em;
}

.section__subtitel--Werkstukken {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

/*header*/

header {
    padding-bottom: 1em;
    background: var(--clr-dark);
}

.Logo {
    max-width: 100%;
    position: relative;
    margin: 0 auto;
    padding-bottom: 1em;
    background-color: #111;
    padding-top: 1em;
}

.Logo__Link {

}

.Logo__Afbeelding {
    z-index: 2;
    width: 33%;
    margin: 0 auto;
    display: block;
}

.navigatie {
    position: relative;
    background: var(--clr-dark);
    color: var(--clr-light);
    padding-top: 1em;
}

.navigatie__lijst {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.navigatie__item {
    border: 1px solid #000;
    border-block-style: inset;
    border-radius: 10px;
    background: var(--clr-accent);
    color: var(--clr-dark);
    min-width: 300px;
    text-align: center;
}

.navigatie__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none;
}

.navigatie__link:hover {
    color: var(--clr-dark);
}

.navigatie__link:focus {
    transform: scale(1.1);
    outline: 3px solid var(--clr-dark);
    outline-offset: 3px;
}

/*introductie*/

.intro {
    position: relative;
}
.intro__afbeelding{
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
                "img titel"
                "img subtitel";
        grid-template-columns: min-content max-content;
    }

    .intro__afbeelding {
        grid-area: img;
        min-width: 200px;
        position: relative;

    }

    .section__subtitel--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        right: 2em;
        width: calc(100% + 1.5em);

    }
}

/*mijn hobby's*/

.Watikdoe{
    background-color: var(--clr-dark);
    background-image: url(../images/abstract-background.jpg);
    background-size: cover;
    background-blend-mode: overlay;
    color: var(--clr-light);
}
.section__titel--Hobbys{
    color: var(--clr-accent);
    position: relative;
    text-align: center;
}

.section__titel--Hobbys::after{
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.Hobby\'s {
    margin-bottom: 4em;
}

.Hobby {
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .Hobby\'s {
        max-width: 1000px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    .Hobby + .Hobby {
        margin-left: 2em;
    }
}

.Over-mij {
    max-width: 1000px;
    margin: 0 auto;
}

.Over-mij__Afbeelding {
    box-shadow: var(--bs);
}

@media (min-width: 600px){
    .Over-mij {
        display: grid;
        grid-template-columns: 450px 500px;
        grid-template-areas:
            "titel img"
            "subtitel img"
            "text img";

    }

    .section__titel--Over-mij{
        grid-area: titel;
    }

    .section__subtitel--Over-mij {
        grid-column: 1/-1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 3em);
        margin-bottom: auto;
    }

    .Over-mij__Afbeelding {
        grid-area: img;
        position: relative;
        z-index: 2;
        margin: 0 auto;
    }

}

/*mijn werkstukken*/

.Mijn-werkstukken {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
}

.portfolio__item {
    overflow: hidden;
}

.portfolio__afbeelding {
    transition: transform 750ms cubic-bezier(.5,0,.5,1),
    opacity 250ms linear;

}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__afbeelding:hover,
.portfolio__item:focus .portfolio__afbeelding {
    transform: scale(1.1);
    opacity: .5;
}

/*Footer*/

.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-style: var(--fs-h3);
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.Social-list__link:hover {
    opacity: 0.7;
}

.footer__link:hover {
    text-decoration: underline;
}

.Social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.Social-list__item{
    margin: 0.5em;
}

.Social-list__link {
    padding: .5em;
}
