/* stijlregels die enkel voor 403 van toepassing zijn */
p {
    font-weight: 600;
}

div {
    background-image: url("../images/Kicked-Out-Klein.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    background-color: bisque;
    padding: 1em 2em 1em 1em;

}

p img {
    width: 10%;
}

@media (min-width: 600px){
    div {
        background-image: url("../images/Kicked-Out-Groot.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;
        padding: 12em 1em 1em 1em;
    }
    p img{
        width: 4%;
    }
}
