/* stijlregels die voor beide errorpagina's van toepassing zijn */
h1, h2 {
    font-family: 'Quicksand', sans-serif ;
    font-weight: 600;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1rem;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

body {
    font-size: 1rem;
    text-align: center;
    line-height: .5;
}
@media (min-width: 600px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3rem;
    }
    p {
        font-size: 2rem;
    }
}