/* stijlregels die enkel voor 404 van toepassing zijn */
.fas {
    color: chartreuse;
}
.oxo {
    margin: 0 auto;
}
col {
    width:3em;
}
td {
    height: 2em;
    border: 1px solid #000;
}

table {
    font-size: 2em;
    border: 3px solid #000;
}
#horizontaal1 {
    margin-left: 3em;
    margin-right: 3em;
    position: relative;
    top: 3em;
}

#horizontaal2 {
    margin-left: 3em;
    margin-right: 3em;
    position: relative;
    bottom: 3em;
}

.TM {
    width: 25%;
}

body {
    background-image: url("/images/astronaut.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ffffff;
}

@media (min-width: 600px) {
    body {
        background-image: url("/images/abstract-background.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        color: black;
    }
    .TM {
        width: 20%;
    }

    #horizontaal1 {
        margin-left: 8em;
        margin-right: 8em;
        position: relative;
        top: 3em;
    }

    #horizontaal2 {
        margin-left: 8em;
        margin-right: 8em;
        position: relative;
        bottom: 3em;
    }
}