* {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    border: 4px solid white;
    background-color: #DDDBE4;
}

body {
    background-color: #DDDBE4;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}

h2,
p {
    padding: 10px 0px;
    margin-left: auto;
    padding-left: 5px;
}

#image {
    height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../afbeeldingen/luxe.jpg);
}

#container {
    background-color: #DDDBE4;
    color: #000;
    margin: auto;
}

nav li {
    flex: 1 1 100%;
}


nav ul {
    display: flex;
    border: 3px solid white;
    list-style-type: none;
}

nav ul a {
    background-color: #DDDBE4;
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
}

nav a:hover {
    text-decoration: underline;
    background-color: lightyellow;
}

footer {
    text-align: right;
    font-weight: bold;
    padding: 10px;
    background-color: white
}

#primair {
    display: none;
}

#gaming {
    display: none;
}

#luxe {
    display: block;
}

p {
    display: flex;
    border: 3px solid #000;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    flex-wrap: wrap;
}

.geheel {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 900px;
    border: 3px solid #000;
    margin: 10px;
    padding: 10px;
}
