* {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;

}

body {
    background-color: yellow;
    font-family: 'Open Sans', sans-serif;
}

h2,
p {
    padding: 10px 0px;
    margin-left: auto;
    padding-left: 5px;
}

#image {
    height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../afbeeldingen/goedkoop.jpg);


}

#container {
    background-color: yellow;
    color: #000;
    margin: auto;

}

nav li {
    flex: 1 1 100%;
}


nav ul {
    display: flex;
    border: 3px solid black;
    list-style-type: none;
}

nav ul a {
    background-color: red;
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
}

nav a:hover {
    text-decoration: underline;
    background-color: lightyellow;
}

footer {
    text-align: right;
    font-weight: bold;
    padding: 10px;
    background-color: yellow;
}

#primair {
    display: block;
    background-color: #FFFF55;
    border: 8px solid #FF0000;
    border-style: groove;

}

#primair h2 {
    border: 4px solid #FF0000;
    background-color: #FFFF55;
    border-style: groove;
}

#gaming {
    display: none;
}

#luxe {
    display: none;
}
