* {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    border: 4px solid #DDDBE4;
    background-color: black;
}

body {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
}

h2,
p {
    padding: 10px 0px;
    margin-left: auto;
    padding-left: 5px;
}

#image {
    height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../afbeeldingen/gaming.jpg);
}

#container {
    background-color: black;
    color: white;
    margin: auto;
}

nav li {
    flex: 1 1 100%;
}


nav ul {
    display: flex;
    border: 3px solid #DDDBE4;
    list-style-type: none;
}

nav ul a {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
}

nav a:hover {
    text-decoration: underline;
    background-color: red;
}

footer {
    text-align: right;
    font-weight: bold;
    padding: 10px;
    background-color: #DDDBE4;
    color: black;
}

#primair {
    display: none;
}

#gaming {
    display: block;
    background-color: black;
    color: white;
    border: 6px solid #DDDBE4;
}

#gaming h2 {
    background-color: red;
    color: #000;
}

#luxe {
    display: none;
}
